.credentials-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credentials-container form {
  padding: 0 45px 45px;
}

.credentials-container span {
  font-size: 28px;
  width: 50%;
  float: left;
  padding: 15px 0;
  margin-bottom: 45px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.credentials-container span:nth-of-type(2) {
  border-top-right-radius: 5px;
}

.credentials-container span:nth-of-type(2).inactive {
  border-bottom: 1px solid #bfbcbc;
  border-left: 1px solid #a2a2a2;
}

.credentials-container span:nth-of-type(1).inactive {
  border-bottom: 1px solid #bfbcbc;
  border-right: 1px solid #a2a2a2;
}

.credentials-container span:nth-of-type(1) {
  border-top-left-radius: 5px;
}
.credentials-container input {
  margin-bottom: 25px;
  height: 45px;
  font-size: 18px;
}

.credentials-container .btn {
  width: 100%;
  height: 50px;
  color: #fff;
  background: #559dbf;
}

.shadow-overlay {
  position: fixed;
  height: 2000px;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
  top: 0;
}

#signup {
  display: none;
}

/* Helper Functions */
.inactive {
  background: rgba(176, 176, 176, 0.77) none repeat scroll 0% 0%;
}
