body {
  background-color: white;
}
.welcome {
  text-align: center;
}
.head {
  height: 400px;
  max-width: 100%;
  background-image: url('../assets/photos/foodgathering.jpeg');
  transition: background-image ease 25ms;
  background-size:1200px;
}
.authComponent {
  float: none;
  margin: auto;
}
.navbar {
  border-radius: 0;
}
.navbar-default {
  background-color: #0A295F;
  border-color: #0A295F;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #607D8B;
}
.nav-pills:active {
  background-color: #000000;
}

.address-text {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -.02em;
}
li {
  text-decoration: none;
}
ul {
  text-decoration: none;
}

a {
  color: black;
}
.myEatups {
  float: right;
}
.deleteButton, .rsvpButton {
  float: right;
}
#searchTextField {
  width: 20em;
}
.signing {
  font-size: 1.2em;
}
.listing {
  font-size: 1.2em;
  font-weight: bold;
}
.card {
  border: 1px solid #9d8d87!important;
  border-radius: 16px!important;
  padding: 1em 2em;
  margin: 1em 0;
  background-color: white
}
.card-title {
  font-weight: bold;
}
.myEatUp {
  display: inline-block;
  margin: 0;
}
#map {
  width: 100%;
  height: 400px;
}
