body {
  background-color: white;
}
.welcome {
  text-align: center;
}
.authComponent {
  float: none;
  margin: auto;
}
.myEatups {
  float: right;
}
.deleteButton {
  float: right;
}
#searchTextField {
  width: 20em;
}
.signing {
  font-size: 1.2em;
}
.listing {
  font-size: 1.2em;
  font-weight: bold;
}
.card {
  border: 1px solid #9d8d87!important;
  border-radius: 16px!important;
  padding: 1em 2em;
  margin: 1em 0;
  background-color: white
}
.card-title {
  font-weight: bold;
}
.myEatUp {
  display: inline-block;
  margin: 0;
}